<%= stylesheet_link_tag "application.css", :meddia=>"all" %>
<h1>ついーろを編集</h1>


<%= form_for @tweet, url: {action: :update} do |f| %>
    <%= f.label :message, 'メッセージ' %>
    <%= f.text_field :message %>
    <%= f.submit '更新' %>
<% end %>

<br>
<div>
    <%= link_to "戻る", tweets_path %>
</div>