<h1>新しいついーろ</h1>
<%= form_for @tweet, url: {action: :create} do |f| %>
    <%= f.label :message, 'メッセージ' %>
    <%= f.text_field :message %>
    <%= f.submit 'ツイート' %>
<% end %>

<div>
    <%= link_to "戻る", tweets_path %>
</div>